//// 5.4 Blog page ////
.blog {
  article {
    clear: both;
    max-width: column_width(6);
    margin: (3 * $lineHeight) auto (6 * $lineHeight);
    @include cf;

    header {
      margin-top: $lineHeight/2;
      margin-left: 0;
      text-align: left;
      padding: 0 $gutter/4;

      time {
        @include small-size;
      }

      h1 {
        margin: 3px 0 $lineHeight;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.1em;
      }
    }

    .content {
      @include columns(6);
      margin-left: 0;
      padding: 0 $gutter/4;
    }

    .media {
      max-width: column_width(6);
      text-align: left;
      @include respond-to(tablet) {
        padding: 0 $gutter/4;
      }
    }

    ul.images {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    img {
      max-width: 100%;
    }
  }
}