//// 5.1.2 Showcase Page ////

section.showcase {
  list-style: none;
  padding: 0;

  h1.section-title {
    @include visuallyhidden;
  }

  article {
    position: relative;
    float: left;
    clear: left;
    width: 100%;
    text-align: center;
    margin-bottom: 3 * $lineHeight;
    padding-top: 3 * $lineHeight;

    header {
      clear: left;

      h1 {
        margin-top: 3px;
        margin-bottom: 0;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.1em;
      }
      p {
        margin-top: 0;
        font-weight: normal;
        @include small-size;
      }
      a {
        border-bottom: none;
      }
    }

    .category {
      margin-top: $lineHeight/2;
      @include small-size;
    }

    .footnotes {
      @include small-size;
    }

    .description {
      padding: $lineHeight/2 $gutter 0 0;
      text-align: left;

      .project-title {
        text-align: left;
        text-indent: 0;
        margin: $lineHeight/2 0 $lineHeight/2 2em;
      }
    }
  }
}

// js enabled //

section.showcase {
  article {
    position: relative;
    user-select: none;

    .read-more {
      cursor: pointer;
      @include small-size;

      a span{ border-bottom: 1px solid; }

      .less {
        display: none;
      }
    }

    .description {
      display: none;
      padding: $lineHeight;

      @include respond-to(tablet) {
        position: absolute;
        bottom: 50%;
        left: 50%;
        margin-left: -277px; // - (column_width(6) + $gutter)/2;
        background: rgba(255, 255, 255, 1);
        width: column_width(6) + $gutter;
        z-index: 10;
        user-select: text;
      }
    }
    

    &.description-active {
      .description {
        display: block;
      }
      .read-more {
        .more {
          display: none;
        }
        .less {
          display: inline;
        }
      }
    }
  }
}