//// 5.1.2 Showcase Page ////

section.showcase {
  list-style: none;
  padding: 0;

  h1.section-title {
    @include visuallyhidden;
  }

  article {
    position: relative;
    float: left;
    clear: left;
    width: 100%;
    text-align: center;
    margin-bottom: 3 * $lineHeight;
    padding-top: 3 * $lineHeight;

    .project-title {
      text-align: center;
      text-indent: 0;
      margin: 0;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    .category {
      margin-top: $lineHeight/2;
      @include small-size;
    }

    .footnotes {
      @include small-size;
    }

    .description {
      padding: $lineHeight/2 $gutter 0 0;
      text-align: left;
    }
  }

  img {
    max-width: 100%;
  }
}

// js enabled //
.js .image:not(.slick-slide):not(:first-child),
img.slick-loading {
  opacity: 0;
  display: none;
}

section.showcase {
  article {
    position: relative;
    user-select: none;

    .read-more {
      cursor: pointer;
      @include small-size;

      a span{ border-bottom: 1px solid; }

      .less {
        display: none;
      }
    }

    .description {
      display: none;
      padding: $lineHeight $gutter/4;

      @include respond-to(tablet) {
        padding: $lineHeight;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        margin-left: -277px; // - (column_width(6) + $gutter)/2;
        background: rgba(255, 255, 255, 1);
        width: column_width(6) + $gutter;
        z-index: 10;
        user-select: text;
      }
    }
    

    &.description-active {
      .description {
        display: block;
      }
      .read-more {
        .more {
          display: none;
        }
        @include respond-to(tablet) {
          .less {
            display: inline;
          }
        }
      }
    }
  }
}