

h1, h2, h3, h4, b, strong {
  font-weight: normal;
}

// ==================== //
// 1. ROOT
// ==================== //

html {
  margin: 0 auto;

  background: #c7e0de; /* Old browsers */
  background: -moz-linear-gradient(top, #c7e0de 0%, #f7f2d2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7e0de), color-stop(100%,#f7f2d2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c7e0de 0%,#f7f2d2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c7e0de 0%,#f7f2d2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c7e0de 0%,#f7f2d2 100%); /* IE10+ */
  background: linear-gradient(to bottom, #c7e0de 0%,#f7f2d2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7e0de', endColorstr='#f7f2d2',GradientType=0 ); /* IE6-9 */
}

body {
  font-family: 'Grotesque MT', serif;
  text-rendering: optimizeLegibility;

  font-size: $fontSize;
  line-height: $lineHeight;
  margin: 0 auto;

  max-width: column_width(12);
  &.home {
    max-width: column_width(15);
  }

  @include cf;
}

hr {
  clear: both;
  border: 1px solid;
  border-bottom: none;
  margin: 2 * $lineHeight 0;
}

p {
  margin: 0;
}

p + p {
  text-indent: 2em;
}

p + ul {
  margin-top: $lineHeight;
}

h1,
h2,
h3 {
  font-size: $fontSize;
}

h2 {
  margin: $lineHeight 0 0;
}

ul,
ol {
  list-style: none;
}

em,
i {
}

// ==================== //
// 2. LINKS
// ==================== //

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;

  &.thumb-link {
    border-bottom: none;
  }
}






// ==================== //
// 5. CONTENT           //
// ==================== //

.main {
  padding-top: 0;
  @include cf;
}



/* MODULES */

.close-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  @include small-size;
  border: none;
  background: transparent;

  display: none;
  @include respond-to(tablet) {
    display: block;
  }
}

.back-to-top {
  text-align: center;
  @include small-size;
  padding: (7 * $lineHeight) 0 (1.5 * $lineHeight);
}

.footnote {
  margin-top: $lineHeight/2;
  @include small-size;
  text-indent: 0;
}

.page-footer {
  margin-top: $lineHeight*2;
  @include small-size;
}