/* GROTESQUE MT */

/* Bold */
@font-face{
font-family:"Grotesque MT";
src:url("../fonts/a2bca959-0165-4a21-8869-a49b2db3f396.eot?iefix") format("eot");
font-weight: bold;
font-style: normal;
}
@font-face{
font-family:"Grotesque MT";
src:url("../fonts/a2bca959-0165-4a21-8869-a49b2db3f396.eot?iefix");
src:url("../fonts/f3507fa6-d8dd-43ff-ab04-8ab9f8848e06.woff") format("woff"),url("../fonts/9a9482f8-3a6a-4395-afde-0dace8497517.ttf") format("truetype"),url("../fonts/c0cf6a10-1842-4bd5-ac1d-32f8a4d01cb5.svg#c0cf6a10-1842-4bd5-ac1d-32f8a4d01cb5") format("svg");
font-weight: bold;
font-style: normal;
}

/* Italic */

@font-face{
font-family:"Grotesque MT";
src:url("../fonts/de8f284b-9da1-4a23-af58-c615623943b0.eot?iefix") format("eot");
font-weight: normal;
font-style: italic;
}
@font-face{
font-family:"Grotesque MT";
src:url("../fonts/de8f284b-9da1-4a23-af58-c615623943b0.eot?iefix");
src:url("../fonts/22152e1e-9a36-4dae-b94c-9310a614a4fc.woff") format("woff"),url("../fonts/067a14aa-5802-42cb-a60b-c4722e778ec7.ttf") format("truetype"),url("../fonts/519c74d6-1c04-4c5c-8396-47afdca65614.svg#519c74d6-1c04-4c5c-8396-47afdca65614") format("svg");
font-weight: normal;
font-style: italic;
}

/* Regular */

@font-face{
font-family:"Grotesque MT";
src:url("../fonts/65853259-eeb9-4157-a862-98c4ded7c991.eot?iefix") format("eot");
font-weight: normal;
font-style: normal;
}
@font-face{
font-family:"Grotesque MT";
src:url("../fonts/65853259-eeb9-4157-a862-98c4ded7c991.eot?iefix");
src:url("../fonts/a9e53c4b-8f83-4ba6-8e3e-18f71102796f.woff") format("woff"),url("../fonts/80c7df44-1dc6-4998-80ef-666fa026c9ea.ttf") format("truetype"),url("../fonts/483c1f7d-0832-4465-9402-521ebc3754e3.svg#483c1f7d-0832-4465-9402-521ebc3754e3") format("svg");
font-weight: normal;
font-style: normal;
}
