/* GROTESQUE MT */

/* Bold */
@font-face {
    font-family: "Grotesque MT";
    src: url("../fonts/f3507fa6-d8dd-43ff-ab04-8ab9f8848e06.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}


/* Italic */
@font-face {
    font-family: "Grotesque MT";
    src: url("../fonts/22152e1e-9a36-4dae-b94c-9310a614a4fc.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}


/* Regular */
@font-face {
    font-family: "Grotesque MT";
    src: url("../fonts/a9e53c4b-8f83-4ba6-8e3e-18f71102796f.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}